@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

body{
	background-image:radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)),  url(../Images/Branches/uk%20branch.jpg);
	background-attachment:fixed;
	background-size:100%;
	background-repeat:no-repeat;
}
.top{
	padding-top:100px;
}
.top h1{
	font-family:jost;
	font-weight:600;
	color:white;
	margin-top:150px;
	font-size:60px;

}
.top h3{
	font-family:jost;
	color:white;
	font-weight:600;
	font-size:45px;
}
.top p{
	color:white;
	font-family:jost;
	font-size:21px;
}
.top .btn{
	border-radius:0;
	color:white;
	background-color:#055;
	border-color:2px solid #055;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	font-size:19px;
	font-family:jost;
}

.top .btn:hover{
	background-color:white;
	color:#044;
	border:2px solid #044
	text-decoration:none;
}
.about{
	background-color:white;
}
.about h1{
	font-family:jost;
	font-weight:bold;
	
	
}

.about p{
	font-family:jost;
	font-size:20px;
}

.abt{
	background-color:#EFEEED;
}
.abt .row{
	background-color:white;
	border:2px solid #CCC;
	border-radius:8px;
}
.abt .row:hover .abtimg{
	transform:scale(1);
	transition:2s transform;
}
	
.abt h1{
	font-family:jost;
	font-weight:bold;
	
}
.abt p{
	font-family:jost;
	font-size:18px;
	}
.abtimg{
	background-image:url(../Images/Home/mission2.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.items{
}
.items {
	background-color:white;
}

.items h1{
	font-family:jost;
	font-weight:bold;
	
}
.admin1, .admin2, .admin3 {
  position: relative;
  width: 50%;
  
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius:10px;
  box-shadow:rgba(0,0,0,0.3)1px 2px 3px 4px 
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .7s ease;
  border-radius:10px;
}

.admin1:hover .overlay {
height:100%;
}
.admin2:hover .overlay{
	height:100%
}
.admin3:hover .overlay{
	height:100%;
}
.text p{
	font-size:18px;
}
.text h2{
	font-family:jost;
	text-align:center;
	font-weight:bold
}
.text {
  color: black;
  font-family:jost;
  position: absolute;
  padding:50px;
}

.contact{
	background-color:white;
	color:black
}
.contact_box{
	box-shadow:rgba(0,0,0,0.2)3px 4px 5px 6px ;
	font-family:jost;
}
.contact_headings{
	font-weight:bold;
	font-family:jost;
	font-size:19px;
}
.contact input, .contact textarea{
	border:2px solid #CCC;
	
}
.contact label{
	font-family:jost;
	font-weight:500;
	font-size:19px;
	}
	.contact button{
		color:white;
		font-family:jost;
		background-color:black;
		border:2px solid black;
		border-radius:0;
		padding:9px;
		padding-left:12px;
		padding-right:12px;
	}
	.contact button:hover{
		color:black;
		background-color:white;
		border:2px solid black;
		
	}
.contact button:focus{
	outline:0;
	border:0;
	box-shadow:0;
}
.contact h1{
	font-family:jost;
	font-weight:bold;
	
}
.locate{
	background-color:white;
}
.locate h1{
	font-family:jost;
	
	font-weight:bold
}
.locate iframe{
	height:470px;
	width:100%;
}
@media only screen and (max-width:550px)
{
	.top h1{
	font-family:jost;
	font-weight:500;
	color:white;
	margin-top:150px;
	font-size:35px;
}
.top h3{
	font-family:jost;
	color:white;
	font-weight:500;
	font-size:25px;
}
.top p{
	color:white;
	font-family:jost;
	font-size:16px;
}
.top button{
	border-radius:0;
	color:white;
	background-color:#933;
	border-color:2px solid #933;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	font-size:16px;
	font-family:jost;
}
.contact p{
	font-size:13px;
}
.locate iframe{
	height:300px;
}

}
@media only screen and (max-width:768px)
{
	.locate iframe{
		height:330px;
	}
}