
  .mfeedback
  {
    margin-top: 20vh;
   
  }

.empty, .full
{
position: absolute;
width:35px;
/* margin-top: 20vw;*/
z-index: 1;
transition: 0.2s;
cursor: pointer;
}

.full
{
opacity: 0;
z-index: 0;
}

.f_alert
{
/* position: absolute;*/
text-align: center;
width: 65%;
font-family: "Jost";
font-size: 17px;
background: white;
color: black;
border-radius: 100px;
padding-top: 4px;
padding-bottom: 4px;
/* margin-top: 29vw;*/
}

#em1, #fl1 { margin-left: 2%; }
#em2, #fl2 { margin-left: 11%; }
#em3, #fl3 { margin-left: 20%; }
#em4, #fl4 { margin-left: 29%; }
#em5, #fl5 { margin-left: 39%; }

.modalimg{
  width:320px;
  padding-left: 10px;
}
#loadModal .modal-body{
  margin-left:20px;
  margin-right:20px;
  font-family:jost;
 color:white;
}

.launchf
{
    position: fixed;
    margin-top: 50vh;
    transform: rotate(270deg);
    right:-25px;
    margin-right: 0;
    z-index: 700;
    font-family: "Jost";
    background: teal;
    color: white;
    border: none;
    border-radius: 5vw;
    padding: 9px 25px 9px 25px;
}

.launchf:hover { background: teal; color: white; }

.m-cn
{
  
  background: rgb(1, 55, 55);
  border:0px solid rgb(2, 51, 51);
  border-radius: 20px;
}

.bt-logo
{
  width: 35px;
  float: right;
}

.bt-text-1
{
  font-size: 15px;
  padding-top: 10px;
}

